**Závod**

Uvažuj časy závodníků za ročníky půlmaratonu 2019 a 2020, které jsou uloženy v souboru half_marathon.csv. V souboru jsou uloženy pouze časy závodníků, které se zúčastnili obou závodů. V souboru je uloženo jméno závodníka, jeho čas a rok závodu, ke kterému se čas vztahuje. Tvým úkolem je spočítat, o kolik se změnil průměrný čas závodníků a zda se v průměru zlepšili či zhoršili (například protože kvůli lockdownům méně či více trénovali).

Můžeš využít následující postup:

Seřaď si data (je třeba seřadit data dle jména závodníka i dle roku závodu).
Převeď sloupec s časem závodníka na typ datetime. Můžeš využít stejný postup, jaký jsme si ukázali v lekci. Protože jde pouze o časový údaj, pandas k němu připojí dnešní datum, aby byly ve sloupci datum i čas. Toho si ale nevšímej, u obou sloupců je datum stejný, takže na porovnání údajů to nebude mít vliv.
Pomocí metody shift() si dej na jeden řádek výsledky obou závodů. Je nutné ji použít v kombinaci s metodou groupby(), jak je vidět níže. Je třeba nahradit X vhodně zvoleným číslem.
df_joined["Cas zavodnika 2020"] = df_joined.groupby("Jmeno")["Cas zavodnika"].shift(X)
Vyřaď z tabulky neúplné řádky pomocí metody dropna().
Vypočítej rozdíl mezi časy závodníka a převeď ho na sekundy (postup jsme si ukazovali v lekci). Dále spočítej průměrnou změnu. Vyšlo i kladné nebo záporné číslo? A co to znamená.

In [1]:
import pandas
pulmaraton = pandas.read_csv("half_marathon.csv")
pulmaraton

                   Jmeno Cas zavodnika  Rok zavodu
0           Eisner Tomáš      01:21:25        2019
1          Hofhans Tomáš      01:27:43        2019
2                Krs Jan      01:28:23        2019
3              Kasal Jan      01:29:09        2019
4          Bryan Lauwers      01:30:18        2019
..                   ...           ...         ...
572       Matouš Jaromír      02:55:53        2020
573         Maříková Eva      02:57:04        2020
574  Švantnerová Václava      02:59:33        2020
575     Klailová Ludmila      02:59:33        2020
576      Förstlová Lenka      03:08:04        2020

[577 rows x 3 columns]

In [2]:
pulmaraton = pulmaraton.sort_values(["Jmeno", "Rok zavodu"])
pulmaraton

               Jmeno Cas zavodnika  Rok zavodu
35   Adamcová Helena      01:46:07        2019
76    Aster Vladimír      01:53:25        2019
374   Aster Vladimír      02:00:19        2020
231    Asterová Jana      02:16:59        2019
521    Asterová Jana      02:30:01        2020
..               ...           ...         ...
147     Žiška Patrik      02:04:46        2019
336     Žlábek Pavel      01:38:47        2020
127     Žákovec Jiří      02:02:19        2019
140    Žákovec Pavel      02:03:36        2019
419    Žákovec Pavel      02:07:37        2020

[577 rows x 3 columns]

In [3]:
pulmaraton["Cas zavodnika"] = pandas.to_datetime(pulmaraton["Cas zavodnika"])
pulmaraton

               Jmeno       Cas zavodnika  Rok zavodu
35   Adamcová Helena 2023-05-09 01:46:07        2019
76    Aster Vladimír 2023-05-09 01:53:25        2019
374   Aster Vladimír 2023-05-09 02:00:19        2020
231    Asterová Jana 2023-05-09 02:16:59        2019
521    Asterová Jana 2023-05-09 02:30:01        2020
..               ...                 ...         ...
147     Žiška Patrik 2023-05-09 02:04:46        2019
336     Žlábek Pavel 2023-05-09 01:38:47        2020
127     Žákovec Jiří 2023-05-09 02:02:19        2019
140    Žákovec Pavel 2023-05-09 02:03:36        2019
419    Žákovec Pavel 2023-05-09 02:07:37        2020

[577 rows x 3 columns]

In [4]:
pulmaraton["Cas zavodnika 2020"] = pulmaraton.groupby("Jmeno")["Cas zavodnika"].shift(-1)
pulmaraton

               Jmeno       Cas zavodnika  Rok zavodu  Cas zavodnika 2020
35   Adamcová Helena 2023-05-09 01:46:07        2019                 NaT
76    Aster Vladimír 2023-05-09 01:53:25        2019 2023-05-09 02:00:19
374   Aster Vladimír 2023-05-09 02:00:19        2020                 NaT
231    Asterová Jana 2023-05-09 02:16:59        2019 2023-05-09 02:30:01
521    Asterová Jana 2023-05-09 02:30:01        2020                 NaT
..               ...                 ...         ...                 ...
147     Žiška Patrik 2023-05-09 02:04:46        2019                 NaT
336     Žlábek Pavel 2023-05-09 01:38:47        2020                 NaT
127     Žákovec Jiří 2023-05-09 02:02:19        2019                 NaT
140    Žákovec Pavel 2023-05-09 02:03:36        2019 2023-05-09 02:07:37
419    Žákovec Pavel 2023-05-09 02:07:37        2020                 NaT

[577 rows x 4 columns]

In [5]:
pulmaraton = pulmaraton.dropna()
pulmaraton

                  Jmeno       Cas zavodnika  Rok zavodu  Cas zavodnika 2020
76       Aster Vladimír 2023-05-09 01:53:25        2019 2023-05-09 02:00:19
231       Asterová Jana 2023-05-09 02:16:59        2019 2023-05-09 02:30:01
101       Baborová Anna 2023-05-09 01:58:20        2019 2023-05-09 01:52:25
132          Bambas Jan 2023-05-09 02:02:59        2019 2023-05-09 02:35:39
324  Barochovská Andrea 2023-05-09 03:01:25        2019 2023-05-09 02:50:05
..                  ...                 ...         ...                 ...
30        Šulcová Jitka 2023-05-09 01:43:12        2019 2023-05-09 01:59:07
278      Švarcová Petra 2023-05-09 02:27:45        2019 2023-05-09 02:50:01
82         Švelch Rosťa 2023-05-09 01:54:58        2019 2023-05-09 01:55:11
318        Žitková Jana 2023-05-09 02:45:54        2019 2023-05-09 02:42:48
140       Žákovec Pavel 2023-05-09 02:03:36        2019 2023-05-09 02:07:37

[97 rows x 4 columns]

In [27]:
# pulmaraton["Rozdil"] = pulmaraton["Cas zavodnika 2020"] - pulmaraton["Cas zavodnika"] 
# pulmaraton["Rozdil"] = pulmaraton["Rozdil"].dt.total_seconds()
# pulmaraton

In [28]:
pulmaraton["Zmena"] = pulmaraton["Cas zavodnika 2020"] - pulmaraton["Cas zavodnika"]
pulmaraton.to_csv("half_marathon_hint_2.csv", index=False)
pulmaraton["Zmena"] = pulmaraton["Zmena"].dt.total_seconds()
pulmaraton.to_csv("half_marathon_hint_3.csv", index=False)
pulmaraton["Zmena"].mean()

873.0

In [29]:
# Bonus
pulmaraton["Zmena Text"] = pandas.cut(pulmaraton["Zmena"], bins=[float("-inf"), 0 , float("inf")], labels=["zlepsil se", "zhorsil se"])
pulmaraton

,level_0,index,Jmeno,Cas zavodnika,Rok zavodu,Cas zavodnika 2020,Rozdil,Zmena,Zmena Text
74,74,115,Vacek Martin,2023-04-27 02:00:12,2019,2023-04-27 02:14:45,873.0,873.0,zhorsil se